# orderer节点相关信息
Organizations:
    # orderer节点配置信息
    - &OrdererOrg
        # orderer节点名称
        Name: OrdererOrg

        # orderer节点编号
        ID: OrdererMSP

        # msp文件夹路径
        MSPDir: /home/vagrant/fabric/crypto-config/ordererOrganizations/36sn.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('OrdererMSP.member')"
            Writers:
                Type: Signature
                Rule: "OR('OrdererMSP.admin', 'OrdererMSP.member')"
            Admins:
                Type: Signature
                Rule: "OR('OrdererMSP.admin')"

    # orderer节点中包含的组织，如果有多个组织可以配置多个。
    - &Org1
        Name: Org1MSP       
        ID: Org1MSP         
        # 组织msp文件名
        MSPDir: /home/vagrant/fabric/crypto-config/peerOrganizations/org1.36sn.com/msp
        Policies:
            Readers:
                Type: Signature
                Rule: "OR('Org1MSP.admin', 'Org1MSP.peer', 'Org1MSP.client')"
            Writers:
                Type: Signature
                Rule: "OR('Org1MSP.admin', 'Org1MSP.client')"
            Admins:
                Type: Signature
                Rule: "OR('Org1MSP.admin')"
                
        # 锚节点配置，定义锚节点位置，可用于跨组织的数据传播或同步
        AnchorPeers:
            # 本组织锚节点访问地址
            - Host: peer0.org1.36sn.com
                # 本组织锚节点访问的端口
              Port: 7051

# 功能特=特性集合
Capabilities:
    Channel: &ChannelCapabilities
        V1_4_3: true
        V1_3: false
        V1_1: false
    Orderer: &OrdererCapabilities
        V1_4_2: true
        V1_1: false
    Application: &ApplicationCapabilities
        V1_4_2: true
        V1_3: false
        V1_2: false
        V1_1: false
        
Application: &ApplicationDefaults
    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
    Capabilities:
        <<: *ApplicationCapabilities

# orderer节点的配置，Orderer指定fabric网络的启动类型、区块生成配置以及排序服务的地址
Orderer: &OrdererDefaults

    # orderer节点启动类型和共识方式
    OrdererType: solo
    # orderer监听的地址
    Addresses:
        - orderer.36sn.com:7050
    # 批处理超时：在创建批处理之前等待的时间
    BatchTimeout: 2s
    BatchSize:
        # 最大消息计数：批处理的最大消息数量
        MaxMessageCount: 10
        # 绝对最大字节：批处理中序列化消息的绝对最大字节数
        AbsoluteMaxBytes: 98 MB
        PreferredMaxBytes: 512 KB
    Organizations:
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
        BlockValidation:
            Type: ImplicitMeta
            Rule: "ANY Writers"
    Capabilities:
        <<: *OrdererCapabilities
Channel: &ChannelDefaults
    Policies:
        Readers:
            Type: ImplicitMeta
            Rule: "ANY Readers"
        Writers:
            Type: ImplicitMeta
            Rule: "ANY Writers"
        Admins:
            Type: ImplicitMeta
            Rule: "MAJORITY Admins"
    Capabilities:
        <<: *ChannelCapabilities
        
# 以下部分定义了整个系统的配置信息，指定configtxgen工具的参数
Profiles:
    # 组织定义标识符，可以自定义，命令中的-profile参数对应该标识符
    # 命令示例：./bin/configtxgen -profile OneOrgsOrdererGenesis -outputBlock ./channel-artifacts/genesis.block
    OneOrgsOrdererGenesis:
        <<: *ChannelDefaults
        
        # Orderer属性配置，系统关键字不得更改
        Orderer:
            <<: *OrdererDefaults
            Organizations:
                # OrdererOrg是官方样板给出的名称，实际生产环境中可自定义
                - *OrdererOrg
        
        # 定义了系统中包含的组织
        Consortiums:
            SampleConsortium:
                # 系统中包含的组织
                Organizations:
                    - *Org1
                    
    # 以下是channel的配置信息
    # 通道定义标识符，可自定义
    OneOrgsChannel:
        Consortium: SampleConsortium
        Application:
            <<: *ApplicationDefaults
            Organizations:
                - *Org1
