OrdererOrgs:
  - Name: Orderer
    Domain: 36sn.com
    EnableNodeOUs: true
    Specs:
      - Hostname: orderer

PeerOrgs:
  - Name: Org1
    Domain: org1.36sn.com
    EnableNodeOUs: true
    Template:
      Count: 1
    Users:
      Count: 1

